.buttons1{
    display:grid;
    grid-template-columns: 76.5% 23.5%;
    grid-gap:2%;
}
.buttons2{
    display:grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-gap:1%;
}
button{
    display:flex;
}

.buttonsContainer{
    display:grid;
    grid-gap: 1%;
}